* {
    margin: 0;
    padding: 0;
}

body {
    background: #1F2937;
}

#container {
    margin: 0 0.7em;
}

header {
    font-family: "Karla", sans-serif;
    font-size: 0.875rem;
    color: #FFFFFF;
    text-align: center;
    margin: 0.714em 0 auto;
    box-shadow: #10B981 0.072em 0 1.429em;
    text-shadow: #FFFFFF 0.072em 0 2.143em;
}

.txt-area {
    border-bottom: 0.0625rem solid #2F3E53;
}

#heading {
    font-family: "Karla", sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
    line-height: 0.95;
    color: #FFFFFF;
    margin: 1.5em 0 0;
}

span {
    display: block;
    color: #4ADF86;
    font-size: 2.188rem;
}

#pwd-txt {
    font-family: "Inter", sans-serif;
    font-size: 1.063rem;
    color: #D5D4D8;
    margin: 1.177em 0 0;
}

.pwd {
    font-size: 1.031rem;
    margin-top: 2.121em;
    color: #D4D4D3;
}

#pwd-label {
    font-style: italic;
}

#pwd-length {
    display: inline;
    font-size: small;
    margin-left: 0.485em;
    word-spacing: 0.125em;
    letter-spacing: 0.044em;
}

#pwd-input {
    margin-left: 0.485em;
    text-align:center;
    color: #4ADF86;
    background: black;
    padding: 0.364em 0.303em;
    border: 1px solid #D4D4D3;
    border-radius: 0.938rem;
    font-weight: 750;
}



#pwd-btn {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    background-color: #10B981;
    color: #FFFFFF;
    padding: 0.625em 1.25em;
    margin: 2.188em 0 ;
    border-radius: 0.375rem;
    border: none;
}

#pwd-btn:hover {
    background-color: #065038;
}

.pwd-display-el {
    width: 100%;
    background: #273549;
    font-size: 16px;
    color: #4ADF86;
    margin: 2.5rem auto 0;
    text-align: center;
    letter-spacing: 7px;
    padding: 0.8em 0;
    border: none;
}

.display-el2 {
    margin: 1.25rem auto 0;
}

.copy-btn {
    display: block;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    background-color: #1F2937;
    color: #FFFFFF;
    padding: 0.525em 1em;
    margin: 0.7em 0 ;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 5px #FFFFFF;
    border: none;
}

.copy-btn:hover {
    background-color: #FFFFFF;
    color: #065038;
}

#copy-status {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #D5D4D8;
    text-align: center;
    margin: 2.2em 0 0;
}

/* Media query ~ Breakpoints */

@media (min-width: 600px) {
    #container {
        position: relative;
    }
    header {
        font-size: 1rem;
    }

    #heading {
        font-size: 3.4rem;
        margin: 0.1em 0em 0 0;
    }
    span {
        display: inline;
        font-size: 2.8rem;
    }

    #pwd-txt {
        font-size: 1.7rem;
        margin: 0;
    }

    .pwd {
        font-size: 1.5rem;
        margin: 0.45em 0;
    }

    #pwd-input {
        padding: 0.1em 0.2em;
        font-size: 1.5rem;
    }

    #pwd-length {
        font-size: 1.2rem;
    }

    #pwd-btn {
        position: absolute;
        top: 22%;
        left: 88%;
        transform: translate(-50%, -50%);
        padding: 0.3em 2em;
    }

    .pwd-display-el {
        width: 75%;
        margin: 12px ;
    }

    .pwd-display-el2 {
        margin-top: 2em;
    }

    .copy-btn {
        display: inline;
        margin: 0.9em 0 0 2em;
        padding: 0.6em 2em;
    }

    #copy-status {
        position: absolute;
        top: 73.5%;
        left: 40%;
        transform: translate(-50%, -50%);
        display: block;
        font-size: 1rem;
        margin-top: 0.3em;
    }
}